/.Rproj.user
/adjacency_matrix_G1_iteration_1.csv
/adjacency_matrix_G1_iteration_10.csv
/adjacency_matrix_G1_iteration_2.csv
/adjacency_matrix_G1_iteration_3.csv
/adjacency_matrix_G1_iteration_4.csv
/adjacency_matrix_G1_iteration_5.csv
/adjacency_matrix_G1_iteration_6.csv
/adjacency_matrix_G1_iteration_7.csv
/adjacency_matrix_G1_iteration_8.csv
/adjacency_matrix_G1_iteration_9.csv
/adjacency_matrix_G2_iteration_1.csv
/adjacency_matrix_G2_iteration_10.csv
/adjacency_matrix_G2_iteration_2.csv
/adjacency_matrix_G2_iteration_3.csv
/adjacency_matrix_G2_iteration_4.csv
/adjacency_matrix_G2_iteration_5.csv
/adjacency_matrix_G2_iteration_6.csv
/adjacency_matrix_G2_iteration_7.csv
/adjacency_matrix_G2_iteration_8.csv
/adjacency_matrix_G2_iteration_9.csv
/adjacency_matrix_G3_iteration_1.csv
/adjacency_matrix_G3_iteration_10.csv
/adjacency_matrix_G3_iteration_2.csv
/adjacency_matrix_G3_iteration_3.csv
/adjacency_matrix_G3_iteration_4.csv
/adjacency_matrix_G3_iteration_5.csv
/adjacency_matrix_G3_iteration_6.csv
/adjacency_matrix_G3_iteration_7.csv
/adjacency_matrix_G3_iteration_8.csv
/adjacency_matrix_G3_iteration_9.csv
/CodeGen.Rproj
/importDataset.py
/lib
/multilayer_networ.pdf
/multilayer_network.pdf
/multilayer_network1.pdf
/multilayer_network10.pdf
/multilayer_network2.pdf
/multilayer_network3.pdf
/multilayer_network4.pdf
/multilayer_network5.pdf
/multilayer_network6.pdf
/multilayer_network7.pdf
/multilayer_network8.pdf
/multilayer_network9.pdf
/multi_layer_network.html
/net.pdf
/node_status_iteration_1.csv
/node_status_iteration_10.csv
/node_status_iteration_2.csv
/node_status_iteration_3.csv
/node_status_iteration_4.csv
/node_status_iteration_5.csv
/node_status_iteration_6.csv
/node_status_iteration_7.csv
/node_status_iteration_8.csv
/node_status_iteration_9.csv
/plot.html
/py2r.r
/py2r2.R
/test.html
/test.py
/test2.py
/test3.py
/test4Web.py
/web.html
/web.py